<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Reset Password | Tasty Bite</title>
  
  {% load static%}
  <link rel="stylesheet" href="{% static '/Authentication/auth.css' %}"/>
</head>
<body>
  <div class="auth-container">
    <h2>Reset Password</h2>
    <form>
      <input type="email" placeholder="Enter your email" required />
      <button type="submit">Send Reset Link</button>
    </form>
    <div class="auth-links">
      <a href="{%url 'login'%}">Back to Login</a>
    </div>
  </div>
</body>
</html>
